<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.catholicdroid.test"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="br.com.catholicdroid" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@android:string/unknownName">
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>